
DIV.board
{
    width: 392px;
    border: 4px solid brown;
}
DIV.checker
{
    float: left;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
DIV.red
{
    background: red;
    text-align: center;
    color: black;
    font-weight: bold;
}
DIV.black
{
    background: black;
    text-align: center;
    color: red;
    font-weight: bold;
}
DIV.player-indicator.checker
{
    opacity: 0.2;
}
DIV.player-indicator.checker.active
{
    opacity: 1;
    box-shadow: 0 0 10px yellow;
}
DIV.checker-container
{
    float: left;
    width: 20px;
    height: 110px;
    padding: 4px;
}
DIV.checker-container.highlight-source
{
    cursor: pointer;
}
DIV.checker-container.highlight-destination
{
    background: yellow;
}
DIV.bar
{
    background: brown;
}
DIV.home
{
    border: none;
    padding-left: 2px;
    padding-right: 2px;
}
DIV.home.checker-container-top
{
    border-left: 4px solid brown;
}
DIV.home.checker-container-bottom
{
    border-right: 4px solid brown;
}
DIV.checker-container-bottom
{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
DIV.checker-container-top
{
    /*
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 100px solid;
    */
}
DIV.point-red
{
    background: #F99;
    border-top-color: #F99;
    border-bottom-color: #F99;
}
DIV.point-black
{
    background: #999;
    border-top-color: #999;
    border-bottom-color: #999;
}
BR.clear
{
    clear: both;
}
DIV.dice-container.dice-container-black > DIV.die
{
    background: black;
    color: red;
}
DIV.dice-container.dice-container-red > DIV.die
{
    background: red;
    color: black;
}
DIV.dice-container DIV.die
{
    width: 20px;
    height: 20px;
    border-radius: 8px;
    padding: 6px;
    margin: 5px;
    float: left;
}
DIV.dice-container DIV.die.die-uses-0
{
    opacity: 0.3;
}
DIV.dice-container DIV.die.die-uses-1, DIV.dice-container DIV.die.die-uses-2
{
    opacity: 1.0;
}
DIV.dice-container DIV.die.die-uses-2::after
{
    content: 'x2';
    font-size: x-small;
}