
DIV.board
{
    width: 392px;
    border: 4px solid brown;
}
DIV.counter
{
    float: left;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
DIV.red
{
    background: red;
    text-align: center;
    color: Black;
    font-weight: bold;
}
DIV.black
{
    background: black;
    text-align: center;
    color: Red;
    font-weight: bold;
}
DIV.pip
{
    float: left;
    width: 20px;
    height: 110px;
    padding: 4px;
}
DIV.bar
{
    background: brown;
}
DIV.home
{
    border: none;
    border-left: 4px solid brown;
    padding-left: 2px;
    padding-right: 2px;
}
DIV.bottom-pip
{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
}
DIV.top-pip
{
    /*
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 100px solid;
    */
}
DIV.red-pip
{
    background: #F99;
    border-top-color: #F99;
    border-bottom-color: #F99;
}
DIV.black-pip
{
    background: #999;
    border-top-color: #999;
    border-bottom-color: #999;
}
BR.clear
{
    clear: both;
}
